        *{
            box-sizing: border-box;
        }
        html{
            height: 100%; 
        }
        body{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 0px;
            min-height: 100vh;
            position: relative;
        }
        header{
            background-color: cadetblue;
            text-align: center;
            padding: 1em;
        }
        footer{
           
            bottom: 0;
            position: absolute;
            background-color:  cadetblue;
            width: 100%;
            padding: 1em;
            text-align: center;
        }
        main{
            padding: 10px;
             padding-bottom:80px;
        }