
nav{
    background-color: #06409a;
    height:100%;
    width: 200px; 
    position: fixed;
    overflow: auto;
}
nav > a{
    display: block;
    padding: 1em;
    color: #ecf5f9;
    text-decoration: none;
    text-transform: uppercase
}
nav > a:hover{
    color: #0b61d8;
    background-color: white;
    transition-duration: .5s;
}
main{
    margin-left: 200px;
    padding: 1em;
}