@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
body{
    background-color: #cccccc;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}