@import url('style-menu-lg.css');
@import url('style-menu-750.css') screen and (max-width: 750px);
@import url('style-menu-600.css') screen and (max-width: 600px  );
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecf5f9;
    margin:0;
}