body{
    background: rgb(207, 207, 243);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
header{
    background-color: rgb(40, 40, 192);
    color:aliceblue;
    /* margin:10px; */
    padding:20px;
    text-align: center;
}
h1{
    font-size: 16px;
    font-weight: 400;
}
.text-red{
    color: red
}
#text-large{
    font-size: 48px
}
nav{
    background-color: rgb(66, 66, 254);
    padding: 10px;
    text-align: right;
    
}
.menu{
    color:aliceblue;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
footer{
    background-color: rgb(40, 40, 192);
    color:aliceblue;
    /* margin:10px; */
    padding:10px;
    text-align: center;
    font-size: 12px;
}
main{
    padding: 20px;
}
p{
    text-align: justify;
}