        body{
            margin: 0;
        }
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            /* grid-template-columns: 200px 200px 200px 200px 200px; */
            /* grid-template-columns: auto 400px auto; */
            /* row-gap:25px;
            column-gap:10px; */
            gap: 25px 10px;
            background-color: beige;
        }
        .grid-container > div{
            background-color: rgba(237, 173, 157, 0.457);
            text-align: center;
            border: 1px solid tomato;
            border-radius: 10px;
            padding: 40px 0px;
        }
        .item1{
            grid-column-start: 1;
            grid-column-end: 3;
            /* grid-column: 1/3 */
            grid-row-start: 1;
            grid-row-end: 3;
            /* grid-row: 1/3 */
        }
        .item7{
            grid-column-start: 1;
            grid-column-end: 3;
            /* grid-column: 1/3 */
            grid-row-start: 5;
            grid-row-end: 8;    
        }