        body{
            margin: 0;
        }
        .grid-container{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: minmax(50px, auto);
            background-color: beige;
        }
        .grid-container > div{
            background-color: rgba(237, 173, 157, 0.457);
            text-align: center;
            border: 1px solid tomato;
            border-radius: 10px;
        }
        .one{
            grid-column: 1/3;
            grid-row: 1;
        }
        .two{
            grid-column: 2/4;
            grid-row: 1/3;
        }
        .three{
            grid-column: 1;
            grid-row: 2/5;
        }
        .four{
            grid-column:  3;
        }